.list-element{
  display: flex;
  align-items: center;
  font-size: 24px;
}
.list-element div:nth-of-type(1){
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
}
.list-block{
  width: 400px;
  min-height: 600px;
  background-color: sandybrown;
  margin: 0 auto;
  padding: 20px;
}