@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
  --pink: #f1c0cb;
  --green: #adbc90;
  --blue: #71b1d1;
  --cream: #ffffd0;
  --white: rgb(236, 236, 236);
}
body{
  font-family: 'Indie Flower', cursive;
  background-color: var(--green);
}
.daily-block{
  text-align: center;
  width: 700px;
  min-height: calc(100vh - 70px);
  background-color: var(--white);
  margin: 10px auto;
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 120px auto auto;
  border: solid 15px;
  border-image: url(./Old-style-border.svg);
  border-image-slice: 30 20;
}
.daily-block h1{
  font-size: 72px;
  line-height: 120px;
  grid-column: span 2;
}
.daily-block :last-child{
  grid-column: span 2;
}
.check-list h2{
 width: calc(100% - 14px);
 background-color: var(--pink);
 padding: 7px;
 font-size: 24px;
}
.check-list-element{
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 8px;
  word-break: break-word;
  text-align: left;
}
.check-list-element ::first-letter{
  text-transform: uppercase;
}
.check-list-element div:nth-of-type(1){
  display: none;
}
.check-list-T .check-list-element div:nth-of-type(1){
  display: block;
  width: 12px;
  height: 12px;
  border: solid 1px black;
  margin-right: 10px;
}
input{
  font-family: 'Indie Flower', cursive;
  border: 0;
  background: transparent;
  width: 95%;
  margin: 5px 0px;
  padding: 4px 0 5px 0;
  font-size: 20px;
  height: 20px;
  color: black;
}
input:focus{ 
  border: none;	
  outline: none;
  border-bottom: solid 1px black;
}
.btn{
  position: absolute;
  top: 10px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}
.print-btn{
  background-image: url(./printer.png);
  right: 10px;
}
.inp-btn{
  background-image: url(./private.png);
  right: 56px;
}
.inp-btn-hidden{
  background-image: url(./show.png);
}
.hide{
  visibility: hidden;
}